.main {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.chat-list {

    padding: 10px;
    width: 310px;
    max-height: 1080px;
    overflow-y: auto;
    background: #FBFBFB;
    border: 1px solid #EAEAEA;

    &__header {
        height: 103px;
    }

    &__find {
        margin: 46px 5px 10px 5px;
        position: inherit;
        width: 290px;
        height: 32px;
        display: flex;
        justify-content: center;
        text-align: center;
        background: #EFEFEF;
        border: 0;
        padding: 0px;
        border-radius: 5px;
    }

    &__body {
        padding: 0;
    }
}

.chat {
    position: relative;
    width: 979px;
}