---
css:
- /src/pages/main/main.css
- /src/styles/avatar.css
- /src/styles/chat_element.css
- /src/styles/chat_header.css
- /src/styles/chat_message.css
- /src/styles/chat_body.css

---

{{!< base}} <main class="main">

  <nav class="chat-list">
    <div class="chat-list__header">
      {{>button class="chat-list__profile" textBtn="Профиль >"}}
      {{>input class="chat-list__find" name="find" placeholder="Поиск" }}
    </div>
    <ul class="chat-list__body">
      {{#each chat_list.chatList}}
      {{>chatElement}}
      {{/each}}
    </ul>
  </nav>
  <div class="chat">
    {{>chat_header}}
    {{>chat_body}}
    {{>chat_message}}
  </div>

  </main>