---
profileData:
  name: Максим
  inputs:
  - class: edit-input__input
    name: oldPassword
    title: Пароль
    type: password
    value: 132523
  - class: edit-input__input
    name: newPassword
    type: password
    title: Новый пароль
  - class: edit-input__input
    name: passwordSecond
    type: password
    title: Новый пароль (еще раз)
  buttons:
  - class: button__save
    textBtn: Сохранить
    classForm: button__form
    link: /profile/profile.html
    buttonMode: profile__button_center

css:
- /src/partials/button/button.css
- /src/partials/profile/profile.css
- /src/partials/avatar/avatar.css
- /src/partials/edit_input/edit_input.css

---

{{!< base}} 
<main>
  {{>profile/profile}}
</main>