---
profileData: 
  name: Максим
  inputs: 
    - class: edit-input__input
      name: oldPassword
      title: Пароль
      type: password
      value: 132523
    - class: edit-input__input
      name: newPassword
      type: password
      title: Новый пароль
    - class: edit-input__input
      name: passwordSecond
      type: password
      title: Новый пароль (еще раз)
  buttons:
    - class: profile__save-button
      textBtn: Сохранить

css:
- /src/styles/profile.css
- /src/styles/avatar.css
- /src/styles/edit_input.css

---

{{!< base}} 
<main>
  {{>profile}}
</main>