<form class="error">
    <div class="error__content">
        <div class="error__code">
            <h1>{{errorCode}}</h1>
            <h1>{{errorDescription}}</h1>
        </div>
        <a href="./main/main.hbs" class="error_back-link">Назад к чатам</a>
    </div>
</form>