<form class="error">
    <div class="error__content">
        <div class="error__code">
            <h1>{{errorCode}}</h1>
            <h5>{{errorDescription}}</h5>
        </div>

        <a href="../../pages/main/main.hbs" class="error__back-link">Назад к чатам</a>
    </div>
</form>