<form class="error">
    <div class="error__content">
        <div class="error__code">
            <h1>{{errorCode}}</h1>
            <h5>{{errorDescription}}</h5>
        </div>

        {{>button/button class="error__back-link" textBtn="Назад к чатам"}}
    </div>
</form>