.error {
    display: flex;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    justify-content: center;

    &__content {
        text-align: center;
        margin: auto;
        
    }
    &__back-link {
        font-size: 11px;
        text-decoration: none;
    }
  
    &__code {
        margin-bottom: 69px;
    }

    
    &__back-link {
        margin: 0;
        font-size: 11px;
        font-weight: 400;
        line-height: 21.78px;
        color: #3369F3;
        padding: 0;
        cursor: pointer;
        border: none;
        opacity: 1;
        background: #FFFFFF;
      }
}
