<li class="chat-element">
    {{>avatar/avatar class="chat-element__avatar"}}
    <div class="chat-element__body">
        <div class="chat-element__left-side">
            <b class="chat-element__name">{{name}}</b>
            <p class="chat-element__message">
                {{#if lastMessage.fromMe}}
                <b>Вы: </b>
                {{/if}}{{lastMessage.textMessage}}
            </p>
        </div>
        <div class="chat-element__right-side">
            <time class="chat-element__date">
                {{dateTime}}
            </time>
            {{#if lastMessage.fromMe}}
            <div class="chat-element__count">
                <p class="chat-element__count-inner">{{count}}</p>
            </div>
            {{/if}}
        </div>
    </div>
</li>