.chat-element {

    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    height: 69px;
    display: flex;
    flex-direction: row;
    padding-top: 14px;
    
    &__body {
        padding-left: 10px;
        
        width: 243px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__left-side {
        display: flex;
        flex-direction: column;
        line-height: 16px;
        
    }

    &__name {
        margin: 0;
        font-size: 13px;    
    }

    &__message {
        margin: 0;
        font-size: 12px;    
    }

    &__right-side {
        text-align: right;
    }

    &__date {
        font-size: 9px;
    }

    &__count {
        width: 20px;
        height: 20px;
        text-align: center;
        background-color: #3369F3;
        border-radius: 50%;
        font-size: 11px;
        color: white;
        display: flex;
    }

    &__count-inner {
        width: auto;
        margin: auto
    }

    &__avatar {
        width: 45px;
        height: 45px;
    }

   


}