---
popupData: 
  title: Добавить пользователя
  inputs: 
    - class: popup__input
      name: login
      placeholder: Логин
  buttons:
    - class: popup__save
      textBtn: Добавить
css:
- /src/partials/popup/popup.css
---

{{!< base}} 
<main>
  {{>popup/popup}}
</main>