---
popupData: 
  title: Удалить пользователя
  inputs: 
    - class: popup__input
      name: login
      placeholder: Логин
  buttons:
    - class: popup__save
      textBtn: Удалить
css:
- /src/partials/popup/popup.css
---

{{!< base}} 
<main>
 {{>popup/popup}}
</main>