---
popupData: 
  title: Удалить пользователя
  inputs: 
    - class: popup__input
      name: login
      placeholder: Логин
  buttons:
    - class: popup__save
      textBtn: Удалить
css:
- /src/styles/popup.css
---

{{!< base}} 
<main>
  {{>popup}}
</main>