---
title: Home page
css:
  - /src/vendor/normalize.css

---

{{!< base}}

<main>
  <a href="./add_user/add_user.hbs">add user</a>
  <a href="./delete_user/delete_user.hbs">delete user</a>
  <a href="./profile/profile.hbs">profile</a>
  <a href="./change_password/change_password.hbs">change_password</a>
  <a href="./registration/registration.hbs">registration</a>
  <a href="./autorization/autorization.hbs">autorization</a>
  <a href="./main/main.hbs">main</a>
  <a href="./error_404/error_404.hbs">error_404</a>
  <a href="./error_500/error_500.hbs">error_500</a>
</main>
