---
popupData: 
  title: Вход
  inputs: 
    - class: popup__input
      name: login
      placeholder: Логин
    - class: popup__input
      name: password
      placeholder: Пароль
  buttons:
    - class: popup__save
      textBtn: Авторизоваться
    - class: popup__no-account
      textBtn: Нет аккаунта?
css:
- /src/pages/autorization/autorization.css
- /src/partials/popup/popup.css
---

{{!< base}} 
<main>
  {{>popup/popup}}
</main>