<div class="chat-message">
    <img class="chat-message__clip" src="/src/static/img/clip.png" alt="">
    {{>input class="chat-message__message"}}
    {{>button class="chat-message__sendButton" textBtnClass="right-arrow"}}
    
</div>