<div class="chat-header">
    <div class="chat-header__leftSide">
        {{>avatar class="chat-header__avatar"}}
        <p class="chat-header__name">John Connor</p>
    </div>
    <div class="chat-header__rightSide">
        {{>button class="chat-header__button" textBtnClass="moreButton"}}
    </div>
</div>