<form class="profile">
  <div class="profile__body">
    <nav class="profile__side-bar">
      <div class="profile__back-button-header">
        {{>button class="profile__back-button" textBtnClass="left-arrow"}}
      </div>
    </nav>
    <div class="profile__content">
      <div class="profile__header">
        <div class="profile__header-avatar">
          {{>avatar class="profile__avatar"}}

          <h3 class="profile__name">{{profileData.name}}</h3>
        </div>
      </div>
      <div class="profile__inputs">
        {{#each profileData.inputs}}
        {{>edit_input }}
        {{/each}}
      </div>
      <div class="profile__buttons">
        {{#each profileData.buttons}}
        <div class="profile__button">
          {{>button class=this.class textBtn=this.textBtn}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</form>