<div class="chat-message">
    <img class="chat-message__clip" src="/src/static/img/clip.png" alt="">
    {{>input/input class="chat-message__message"}}
    {{>button/button class="button__send" textBtnClass="right-arrow"}}  
</div>