<form class="popup popup_opened">
  <div class="popup__body">
    <div class="popup__content">
      <h3 class="popup__title">{{popupData.title}}</h3>
      <div class="popup__inputs">
        {{#each popupData.inputs}}
        {{>input/input}}
        {{/each}}
      </div>
      <div class="popup__buttons">
        {{#each popupData.buttons}}
        {{>button/button class=this.class textBtn=this.textBtn}}
        {{/each}}
      </div>
    </div>
  </div>
</form>