<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
  <link rel="stylesheet" href="/src/vendor/normalize.css">
  {{#each css}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
  
</head>

<body>

  {{{body}}}

</body>

</html>