.edit-input {
    width: 510px;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;

    &__input {
        color: #999999;
        margin-bottom: 10px;
        border: 0;
        outline:none;
        text-align: right;        
    }

    
}